.row
  .col-md-4.col-md-offset-4
    .login-wrap
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:'form-signin'}) do |f|
        %h2.form-signin-heading
          MEU NW IMÓVEIS
        .login-wrap
          .user-login-info
            = f.label "Usuário"
            = f.input :username, label: false,required: false, autofocus: true, placeholder: "Digite seu usuário"
            = f.input :password, required: false, placeholder: "Digite sua senha"
          = f.button :submit, "ENTRAR", class: 'btn btn-info'
