.row
  .col-md-12
    %section.panel
      %header.panel-heading
        Listagem Imóveis
        = link_to "novo imóvel", new_property_path, class: "btn btn-success pull-right btn-xs"
      .panel-body
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th Código
              %th Cliente
              %th Empreendimento
              %th Status
              %th Ações
          %tbody
            - @properties.each do |property|
              %tr
                %td.col-md-1= property.code
                %td.col-md-4= property.client.social_reason if property.client.present?
                %td.col-md-4= property.name
                %td= property.status ? "<span class='label label-success'>ativo</span>".html_safe : "<span class='label label-danger'>inativo</span>".html_safe 
                %td.col-md-3
                  =link_to "visualizar", property, class: 'btn btn-warning btn-xs'
                  =link_to "editar", edit_property_path(property), class: 'btn btn-info btn-xs'
                  =link_to "excluir", property_path(property), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: t(:confirm)}