%footer.footer
  .footer-nav
    .container
      .row
        .col-xs-12.col-sm-6.col-md-3.footer-nav-col
          .ft-about-us
            %h4.ft-col-title Praça do mercado imobiliário
            .text-block
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue est nisi, non tristique eros scelerisque vitae. Ut sed dolor ornare, ullamcorper eros sit amet, accumsan risus.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .col-xs-12.col-sm-6.col-md-3.footer-nav-col
          .ft-featured-properties
            %h4.ft-col-title Imóveis Destaques
            .featured-property
              %ul
                - @properties = Property.where(featured: true).limit(3).order(:created_at)
                - @properties.each do |featured|
                  %li
                    .featured-image
                      %a{:href => "#{property_path(featured)}"}
                        %img{:alt => "",:class => "thumb-featured", :src => "#{featured.thumb? ? featured.thumb : '/images/property/property1.jpg'}"}/
                    .featured-decs
                      %span.featured-status
                        %a{:href => "#{property_path(featured)}"}
                      %h4.featured-title
                        %a{:href => "#{property_path(featured)}", :title => "#{featured.name}"}
                          = featured.name
        .col-xs-12.col-sm-6.col-md-3.footer-nav-col
          .ft-useful-links
            %h4.ft-col-title Links Úteis
            %nav.useful-links-menu{:role => "navigation"}
              %ul
                %li.menu-item
                  %a{:href => "#"} Termos de Uso
                %li.menu-item
                  %a{:href => "#"} Política de Uso
                %li.menu-item
                  %a{:href => "#"} Contato
                %li.menu-item
                  %a{:href => "#"} Trabalhe Conosco
                %li.menu-item
                  %a{:href => "#"} Quem Somos
                %li.menu-item
                  %a{:href => "#"} FAQs
        .col-xs-12.col-sm-6.col-md-3.footer-nav-col
          .ft-contact-info
            %h4.ft-col-title Contato
            %ul.detail-contact-info
              %li
                %i.fa.fa-map-marker>
                 Brasília
              %li
                %i.fa.fa-phone>
                 (61)-3046-6088
              %li
                %i.fa.fa-envelope-o>
                %a{:href => "mailto:contato@ammax.com.br"} contato@ammax.com.br
  .copyright
    .container
      .row
        .col-xs-12.col-sm-6.text-block
          © 2015 Praça do Mercado Imobiliário. Todos os direitos reservados.
          %br/
          %span
            Powered by
            = succeed "." do
              %a{:href => "http://www.geekninjas.com/", :target => "_blank", :title => "Geekninjas"} Geekninjas.com.br
          %br/
        .col-xs-12.col-sm-6.logo-block
          -# .logo-image
          -#   %a{:href => "index.html"}
          -#     %img{:alt => "DFaqui", :src => "/images/logo/logo-footer.png"}/
    #back-to-top.back-to-top
      %i.fa.fa-angle-up
