.gsearch-wrap
  = simple_form_for properties_path, url: properties_path, method: :get do |f|
    .gsearch-content
      .gsearch-field
        .form-group.ggroup
          .label-select
            %select.form-control{name: "groups"}
              %option{value: ''} Quadra
              - Property.select(:group).distinct.each do |g|
                %option{value: "#{g.group}"} #{g.group}
        .form-group.gtype
          .label-select
            %select.form-control{name: "property_numbers"}
              %option{value: ''} Número
              - Property.select(:number).distinct.each do |g|
                %option{value: "#{g.number}"} #{g.number}
        .form-group.gsub-location
          .label-select
            %select.form-control
              %option Noroeste
        .form-group.gstatus
          .label-select
            %select.form-control{name: "by_type_properties", value: params[:by_type_properties]}
              - Property.type_properties.each do |g|
                %option{value: "#{g[1]}"} #{g[0].humanize}
        .form-group.gbed
          .label-select
            %select.form-control{name: "rooms"}
              %option{value: ''} Nº de Quartos
              %option 1
              %option 2
              %option 3
              %option 4
              %option 5
        .form-group.gbath
          .label-select
            %select.form-control{name: "bathrooms"}
              %option{value: ''} Nº de Suites
              %option 1
              %option 2
              %option 3
              %option 4
        -# .form-group.gprice
        -#   %span.gprice-label Preço
        -#   .gslider-range.gprice-slider-range
        -#   %span.gslider-range-value.gprice-slider-range-value-min
        -#   %span.gslider-range-value.gprice-slider-range-value-max
        -# .form-group.garea
        -#   %span.garea-label Área
        -#   .gslider-range.garea-slider-range
        -#   %span.gslider-range-value.garea-slider-range-value-min
        -#   %span.gslider-range-value.garea-slider-range-value-max
      .gsearch-action
        .gsubmit
          %input.btn.btn-deault{type: 'submit', value: 'Procurar Imóvel'}
