.noo-wrapper
  / START NOO MAINBODY
  .container.noo-mainbody
    .noo-mainbody-inner
      .row.clearfix
        / START MAIN CONTENT
        .noo-content.col-xs-12.col-md-8
          / START ARTICLE PROPERTY
          %article.property
            %h1.property-title
              = @property.name
              %small
                = @property.group
                = @property.number
                = @property.block
                = @property.region
            -# %ul.social-list.property-share.clearfix
            -#   %li
            -#     %a{:href => "#", :target => "_blank", :title => "Facebook"}
            -#       %i.fa.fa-facebook
            -#   %li
            -#     %a{:href => "#", :target => "_blank", :title => "Twitter"}
            -#       %i.fa.fa-twitter
            -#   %li
            -#     %a{:href => "#", :target => "_blank", :title => "Google +"}
            -#       %i.fa.fa-google-plus
            .property-featured.clearfix
              .images
                .caroufredsel-wrap
                  %ul
                    - @property.property_images.each do |image|
                      %li.image-carrosel.img-carroselmod
                        %img.img-responsive{:src => "#{image.image_path? ? image.image_path : '/images/property/property1.jpg'}"}/
              .thumbnails
                .thumbnails-wrap
                  %ul
                    - @property.property_images.each do |image|
                      %li.thumb
                        %img.img-responsive{:src => "#{image.image_path? ? image.image_path : '/images/property/property1.jpg'}"}/
                %a.caroufredsel-prev{:href => "#"}
                %a.caroufredsel-next{:href => "#"}
            .property-summary
              .row
                .col-md-4
                  .property-detail
                    %h4.property-detail-title Detalhes do Imóvel
                    .property-detail-content
                      .detail-field.row
                        %span.col-xs-6.col-md-5.detail-field-label Situação
                        %span.col-xs-6.col-md-7.detail-field-value
                          = @property.situation.humanize
                        %span.col-xs-6.col-md-5.detail-field-label Localização
                        %span.col-xs-6.col-md-7.detail-field-value
                          = @property.region
                        %span.col-xs-6.col-md-5.detail-field-label Valor
                        %span.col-xs-6.col-md-7.detail-field-value
                          %span.amount
                            = number_to_currency @property.value
                        %span.col-xs-6.col-md-5.detail-field-label Elevador
                        %span.col-xs-6.col-md-7.detail-field-value
                          = @property.elevator ? 'Sim' : 'Não'
                        %span.col-xs-6.col-md-5.detail-field-label Quartos
                        %span.col-xs-6.col-md-7.detail-field-value
                          = @property.rooms
                        %span.col-xs-6.col-md-5.detail-field-label Banheiros
                        %span.col-xs-6.col-md-7.detail-field-value
                          = @property.suit
                        %span.col-xs-6.col-md-5.detail-field-label Sol
                        %span.col-xs-6.col-md-7.detail-field-value
                          = @property.sun_position
                        %span.col-xs-6.col-md-5.detail-field-label Valor M²
                        %span.col-xs-6.col-md-7.detail-field-value
                          = number_to_currency @property.value_m2
                        %span.col-xs-6.col-md-5.detail-field-label Vagas
                        %span.col-xs-6.col-md-7.detail-field-value
                          = @property.parking_spaces
                        %span.col-xs-6.col-md-5.detail-field-label Suites
                        %span.col-xs-6.col-md-7.detail-field-value
                          = @property.suit
                        %span.col-xs-6.col-md-5.detail-field-label Andar
                        %span.col-xs-6.col-md-7.detail-field-value
                          = (@property.floor == "0") ? "0" : "#{@property.floor}º"
                        -# %span.col-xs-6.col-md-5.detail-field-label Tour
                        -# %span.col-xs-6.col-md-7.detail-field-value
                        -#   %a{:href => "#{@property.link_tour}", :target => "_BLANK"} Confira Aqui
                .col-md-8
                  .property-desc
                    %h4.property-detail-title Descrição do Imóvel
                    %p
                      = @property.description
            .property-feature
              %h4.property-feature-title Atributos do Imóvel
              .property-feature-content.clearfix
                - @property.property_attributes.each do |attribute|
                  .has
                    %i.fa.fa-check-circle
                    = attribute.name
            -# .property-feature{:style => "overflow: hidden;"}
            -#   %h4.property-feature-title
            -#   - @property.property_constructors.each do |constructor|
            -#     .col-md-12
            -#       - if @property.link_tour.present?
            -#         %a.btn.btn-block.btn-lg.btn-default{:href => "http://meunw.com.br/360/111/meunw.html?s=pano6160&h=-30.2721&v=2.4324&f=90.0000&skipintro&norotation", :target => "_BLANK"}
            -#           %span.glyphicon.glyphicon-map-marker
            -#           Confira o tour 360
            -#       - else
            -#         %a.btn.btn-block.btn-lg.btn-default{:href => "#{@property.link_tour}", :target => "_BLANK"}
            -#           %span.glyphicon.glyphicon-map-marker
            -#           Confira o tour 360
            .property-feature{:style => "overflow: hidden;"}
              %h4.property-feature-title Vendedoras
              - @property.property_sellers.each do |seller|
                .col-sm-6.col-md-2.item-col
                  %img.img-responsive.img-100{:src => "#{seller.logo_path}"}/
            .property-feature{:style => "overflow: hidden;"}
              %h4.property-feature-title Construtoras
              - @property.property_constructors.each do |constructor|
                .col-sm-6.col-md-2.item-col
                  %img.img-responsive.img-100{:src => "#{constructor.logo_path}"}/
            -# .property-map
            -#   %h4.property-map-title Localização do Imóvel
            -#   .property-map-content
            -#     .property-map-search
            -#       %input#property_map_search_input{:autocomplete => "off", :placeholder => "Pesquisar", :type => "text"}/
            -#     #property-map-7292.property-map-box{"data-latitude" => "-15.794731", "data-longitude" => "-47.882881"}
          / END ARTICLE PROPERTY
          / START AGENT PROPERTY
          .agent-property
            .agent-property-title
              %h3 Contato
            .agents.grid.clearfix
              %article.hentry
                .agent-featured
                  %a.content-thumb{:href => "http://wp.nootheme.com/citilights/agents/john-doe/"}
                    %img.attachment-agent-thumb{:alt => "", :src => "/images/agent/agent1.jpg"}/
                .agent-wrap
                  .agent-summary
                    .agent-info
                      %div
                        %i.fa.fa-phone
                        = @property.project.client.telephone
                      %div
                        %i.fa.fa-tablet
                        = @property.project.client.celphone
                      %div
                        %i.fa.fa-envelope-square>
                        = @property.project.client.email
                    -# .agent-desc
                    -#   %ul.social-list.agent-social.clearfix
                    -#     %li
                    -#       %a{:href => "#", :target => "_blank", :title => "Facebook"}
                    -#         %i.fa.fa-facebook
                    -#     %li
                    -#       %a{:href => "#", :target => "_blank", :title => "Twitter"}
                    -#         %i.fa.fa-twitter
                    -#     %li
                    -#       %a{:href => "#", :target => "_blank", :title => "Google +"}
                    -#         %i.fa.fa-google-plus
                    -#   .agent-action
                    -#     %a{:href => "#"}
                    -#       = @property.project.client.username
              -# .conact-agent
              -#   %form#conactagentform{:method => "post", :role => "form"}
              -#     .form-group
              -#       %input.form-control{:name => "name", :placeholder => "Seu Nome *", :type => "text"}/
              -#     .form-group
              -#       %input.form-control{:name => "email", :placeholder => "Seu Email *", :type => "email"}/
              -#     .form-group
              -#       %textarea.form-control{:name => "message", :placeholder => "Mensagem *"}
              -#     .form-action
              -#       %button.btn.btn-default{:type => "submit"} Enviar Mensagem
          -# .similar-property
          -#   .similar-property-title
          -#     %h3 Mais por Via Engenharia
          -#   .similar-property-content
          -#     .properties.grid.clearfix
          -#       .properties-content
          -#         %article.hentry
          -#           .property-featured
          -#             %a.content-thumb{:href => "#"}
          -#               %img{:alt => "", :src => "/images/property/property1.jpg"}/
          -#           .property-wrap
          -#             %h2.property-title
          -#               %a{:href => "#", :title => "Exemplo de endereço"} Exemplo de Endereço
          -#             .property-summary
          -#               .property-detail
          -#                 .size
          -#                   %span 1304 M²
          -#                 .bathrooms
          -#                   %span 2
          -#                 .bedrooms
          -#                   %span 3
          -#               .property-info
          -#                 .property-price
          -#                   %span
          -#                     %span.amount R$5,109
          -#                     \/mês
          -#                 .property-action
          -#                   %a{:href => "#"} Mais Detalhes
          -#         %article.hentry
          -#           .property-featured
          -#             %a.content-thumb{:href => "#/"}
          -#               %img{:alt => "", :src => "/images/property/property1.jpg"}/
          -#           .property-wrap
          -#             %h2.property-title
          -#               %a{:href => "#", :title => "Exemplo de endereço"} Exemplo de Endereço
          -#             .property-summary
          -#               .property-detail
          -#                 .size
          -#                   %span 531 M²
          -#                 .bathrooms
          -#                   %span 3
          -#                 .bedrooms
          -#                   %span 5
          -#               .property-info
          -#                 .property-price
          -#                   %span
          -#                     %span.amount R$4,200
          -#                     \/mês
          -#                 .property-action
          -#                   %a{:href => "#"} Mais Detalhes
          / END SIMILAR PROPERTY
        / END MAIN CONTENT
        / START SIDEBAR
        .noo-sidebar.noo-sidebar-right.col-xs-12.col-md-4
          .noo-sidebar-inner
            / START FIND PROPERTY
            .block-sidebar.find-property
              %h3.title-block-sidebar Pesquisar
              .gsearch
                =render 'layouts/site/search_box'
            / END FIND PROPERTY
            / START RECENT PROPERTY
            .block-sidebar.recent-property
              %h3.title-block-sidebar Imóveis Recentes
              .featured-property
                %ul
                  - @properties = Property.where(featured: true).limit(6).order(:created_at)
                  - @properties.each do |featured|
                    %li
                      .featured-image
                        %a{:href => "#{property_path(featured)}"}
                          %img{:alt => "", :class => "thumb-featured",:src => "#{featured.thumb? ? featured.thumb : '/images/property/property1.jpg'}"}/
                      .featured-decs
                        %span.featured-status
                          = featured.situation.humanize
                        %h4.featured-title
                          %a{:href => "#{property_path(featured)}", :title => "Exemplo de endereço"}
                            = featured.group
                            = featured.number
                            = featured.block
                            = featured.region
            / END RECENT PROPERTY
        / END SIDEBAR
  / END NOO MAINBODY
/ END NOO WRAPPER
