%section#imovel-detalhes
  .col-sm-12.col-xs-12.hidden-md.hidden-lg
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
      %img.img-responsive{:src => "#", :style => "margin: 0 auto"}/
  .col-lg-8.col-md-8.col-sm-12.col-xs-12
    .col-lg-9.col-md-9.col-sm-12.col-xs-12.galeria
      #slider.flexslider.flexslider-galeria
        %ul.slides
          - @property.image_path.each do |image|
            %li
              %img.img-responsive{:src => "#{image}"}/
      #carousel.flexslider
        %ul.slides.img-carrosel
          - @property.image_path.each do |image|
            %li
              %img.img-responsive{:src => "#{image}"}/
    .col-lg-3.col-md-3.col-sm-12.col-xs-12.hidden-sm.hidden-xs
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.box.hidden-sm.hidden-xs
        %img.img-responsive{:src => "#{@property.project.image_path}",:style => "margin: 0 auto; height: 85px"}/
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
        %a{"data-target" => "#telefone", "data-toggle" => "modal", :href => "javascript:ga('send', 'event', 'pg-consulta', 'call', 'NWV0000000195', 1);"}
          %span.box-icons
            %i.fa.fa-phone
            %span
        / Modal
        #telefone.modal.fade{:role => "dialog"}
          .modal-dialog
            / Modal content
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title Entre em contato
              .modal-body
                %h4
                  = @property.client.username
                %p
                  Telefone:
                  = @property.client.telephone
                %p
                  Celular:
                  = @property.client.celphone
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
        %a{"data-target" => "#mensagem", "data-toggle" => "modal", :href => "javascript:ga('send', 'event', 'pg-consulta', 'click-formulario', 'NWV0000000195', 1);"}
          %span.box-icons
            %i.fa.fa-paper-plane
            %span
        / Modal
        #mensagem.modal.fade{:role => "dialog"}
          .modal-dialog
            / Modal content
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title Entre em contato
              .modal-body
                .form-group
                  %input#cliemailcad{:name => "cliemailcad", :type => "hidden", :value => "acesar@lopes.com.br"}/
                  %input#imocodigo{:name => "imocodigo", :type => "hidden", :value => "NWV0000000195"}/
                  %label{:for => "nome"} Nome:
                  %input#nome.form-control{:name => "nome", :type => "text"}/
                .form-group
                  %label{:for => "email"} E-mail:
                  %input#email.form-control{:name => "email", :type => "text"}/
                .form-group
                  %label{:for => "msg"} Mensagem:
                  %textarea#msg.form-control{:name => "msg", :rows => "5"}
              .modal-footer
                %button.btn.btn-default.btnMsgDetalhes{:formaction => "detalhes.php/envioEmail", :type => "button"} Enviar
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
        %a{:href => "#{@property.link_tour}", :onclick => "ga('send', 'event', 'pg-consulta', 'click-360', 'NWV0000000195', 1);", :target => "_blank"}
          %img.box-img.box-img-tour{:src => "#"}/
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.desc.hidden-sm.hidden-xs
      %h4 Descrição
      %h5
        %span
          = @property.description
  .col-lg-4.col-md-4.col-sm-12.col-xs-12.info{:style => "background: #fff;"}
    .row
      .col-md-12.height
        %h5
          = @property.name
      .col-md-12.height
        %h5
          Valor (Consulte Condições):
          %span
            = number_to_currency @property.value
    .row
      .col-md-4.height
        %h5
          Quartos:
          %span
            = @property.rooms
      .col-md-4.height
        %h5
          Suítes:
          %span
            = @property.suit
      .col-md-4.height
        %h5
          Vagas:
          %span
            = @property.parking_spaces
    .row
      .col-md-5.height
        %h5
          Elevadores:
          %span
            = @property.elevator ? 'Sim' : 'Não'
      .col-md-7.height
        %h5
          Valor m2:
          %span
            = number_to_currency @property.value_m2
    .row
      .col-md-6.height
        %h5
          Área útil (m²):
          %span
            = @property.area
      .col-md-6.height
        %h5
          Andar:
          %span
            = "#{@property.floor}º"
    .row
      .col-md-12.height
        %h5
          Situação do imóvel:
          %span
            = @property.situation.humanize
    .row
      .col-md-12.atributos
        %h4.attribute_title
          %span.span-attribute Atributos
        - @property.property_attributes.each do |attribute|
          .col-md-6.atributos-custom
            = attribute.name
    .row.resp
      .col-md-12
        %h4.h4-mod
          %span Construtora
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            - @property.property_constructors.each do |constructor|
              %img.img-responsive.img-100{:src => "#{constructor.logo_path}"}/
      .col-md-12.vendas
        %h4
          %span Venda
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            - @property.property_sellers.each do |seller|
              %img.img-responsive.img-100{:src => "#{seller.logo_path}"}/
