%section#imovel-detalhes
  .col-sm-12.col-xs-12.hidden-md.hidden-lg
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
      %img.img-responsive{:src => "#", :style => "margin: 0 auto"}/
  .col-lg-8.col-md-8.col-sm-12.col-xs-12
    .col-lg-9.col-md-9.col-sm-12.col-xs-12.galeria
      #slider.flexslider.flexslider-galeria
        %ul.slides
          - 5.times do
            %li
              %img.img-responsive{:src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/MANUTENCAO_VEGETAL_2.jpg"}/
      #carousel.flexslider
        %ul.slides.imgdois
          - 5.times do
            %li
              %img.img-responsive{:src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/MANUTENCAO_VEGETAL_2.jpg"}/
    .col-lg-3.col-md-3.col-sm-12.col-xs-12.hidden-sm.hidden-xs
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.box.hidden-sm.hidden-xs
        %img.img-responsive{:src => "#{@property.project.image_path}", :style => "margin: 0 auto"}/
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
        %a{"data-target" => "#telefone", "data-toggle" => "modal", :href => "javascript:ga('send', 'event', 'pg-consulta', 'call', 'NWV0000000195', 1);"}
          %span.box-icons
            %i.fa.fa-phone
            %span
        / Modal
        #telefone.modal.fade{:role => "dialog"}
          .modal-dialog
            / Modal content
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title Entre em contato
              .modal-body
                %h4 Lopes Royal
                %p Telefone: 61 3383-7630
                %p Celular: 61 9645-1009
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
        %a{"data-target" => "#mensagem", "data-toggle" => "modal", :href => "javascript:ga('send', 'event', 'pg-consulta', 'click-formulario', 'NWV0000000195', 1);"}
          %span.box-icons
            %i.fa.fa-paper-plane
            %span
        / Modal
        #mensagem.modal.fade{:role => "dialog"}
          .modal-dialog
            / Modal content
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title Entre em contato
              .modal-body
                .form-group
                  %input#cliemailcad{:name => "cliemailcad", :type => "hidden", :value => "acesar@lopes.com.br"}/
                  %input#imocodigo{:name => "imocodigo", :type => "hidden", :value => "NWV0000000195"}/
                  %label{:for => "nome"} Nome:
                  %input#nome.form-control{:name => "nome", :type => "text"}/
                .form-group
                  %label{:for => "email"} E-mail:
                  %input#email.form-control{:name => "email", :type => "text"}/
                .form-group
                  %label{:for => "msg"} Mensagem:
                  %textarea#msg.form-control{:name => "msg", :rows => "5"}
              .modal-footer
                %button.btn.btn-default.btnMsgDetalhes{:formaction => "detalhes.php/envioEmail", :type => "button"} Enviar
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
        %a{:href => "#{@property.link_tour}", :onclick => "ga('send', 'event', 'pg-consulta', 'click-360', 'NWV0000000195', 1);", :target => "_blank"}
          %img.box-img.box-img-tour{:src => "#"}/
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.desc.hidden-sm.hidden-xs
      %h4 Descrição
      %h5
        %span
          = @property.description
  .col-lg-4.col-md-4.col-sm-12.col-xs-12.info{:style => "background: #fff;"}
    .row
      .col-md-12.height
        %h5
          = @property.name
      .col-md-12.height
        %h5
          Valor (Consulte Condições):
          %span
            R$
            = @property.value
    .row
      .col-md-4.height
        %h5
          Quartos:
          %span
            = @property.rooms
      .col-md-4.height
        %h5
          Suítes:
          %span
            = @property.suit
      .col-md-4.height
        %h5
          Vagas:
          %span
            = @property.parking_spaces
    .row
      .col-md-5.height
        %h5
          Elevadores:
          %span
            = @property.elevator
      .col-md-7.height
        %h5
          Valor m2:
          %span
            = @property.value_m2
    .row
      .col-md-6.height
        %h5
          Área útil (m²):
          %span
            = @property.area
      .col-md-6.height
        %h5
          Andar:
          %span
            = @property.floor
    .row
      .col-md-12.height
        %h5
          Situação do imóvel:
          %span
            = @property.situation
    .atributos
      .row
        %h4 Atributos
        - @property.property_attributes.each do |attribute|
          .col-md-6.atributos-custom
            = attribute.name
    .row.resp
      .col-md-12
        %h4
          %span Construtora
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %img.img-responsive.img-100{:src => "#"}/
      .col-md-12.vendas
        %h4
          %span Venda
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %img.img-responsive.img-100{:src => "#"}/
  .col-sm-12.col-xs-12.hidden-md.hidden-lg{:style => "margin-top: -60px;"}
    .col-sm-12.col-xs-12.desc{:style => "margin-bottom: 20px;"}
      %h4 Descrição
      %h5
        %span Conheça o lançamento Privilege Noroeste. Suas ruas são arborizadas e oferecem muita qualidade de vida e bem-estar aos moradores. O empreendimento Privilege Noroeste está a cerca de 15 minutos do Palácio do Planalto e a 5 minutos do Parque Rural e Estação Biológica. A região possui característica residencial, mas ao mesmo tempo está perto de tudo o que você precisa.
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
      %a{"data-target" => "#telefoneMobile", "data-toggle" => "modal", :href => "javascript:ga('send', 'event', 'pg-consulta', 'call', 'NWV0000000195', 1);"}
        %span.box-icons
          %i.fa.fa-phone
          %span
      / Modal
      #telefoneMobile.modal.fade{:role => "dialog"}
        .modal-dialog
          / Modal content
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Entre em contato
            .modal-body
              %h4 Lopes Royal
              %p Telefone: 61 3383-7630
              %p Celular: 61 9645-1009
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
      %a{"data-target" => "#mensagemMobile", "data-toggle" => "modal", :href => "javascript:ga('send', 'event', 'pg-consulta', 'click-formulario', 'NWV0000000195', 1);"}
        %span.box-icons
          %i.fa.fa-paper-plane
          %span
      / Modal
      #mensagemMobile.modal.fade{:role => "dialog"}
        .modal-dialog
          / Modal content
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Entre em contato
            .modal-body
              .form-group
                %input#cliemailcad{:name => "cliemailcad", :type => "hidden", :value => "acesar@lopes.com.br"}/
                %input#imocodigo{:name => "imocodigo", :type => "hidden", :value => "NWV0000000195"}/
                %label{:for => "nome"} Nome:
                %input#nome.form-control{:name => "nome", :type => "text"}/
              .form-group
                %label{:for => "email"} E-mail:
                %input#email.form-control{:name => "email", :type => "text"}/
              .form-group
                %label{:for => "msg"} Mensagem:
                %textarea#msg.form-control{:name => "msg", :rows => "5"}
            .modal-footer
              %button.btn.btn-default.btnMsgDetalhes{:formaction => "detalhes.php/envioEmail", :type => "button"} Enviar
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.box
      %a{:href => "#", :onclick => "ga('send', 'event', 'pg-consulta', 'click-360', 'NWV0000000195', 1);", :target => "_blank"}
        %img.box-img.box-img-tour{:src => "#"}/
