.noo-wrapper
  %img{:src => '/images/imgfeliz.png', :width => '100%' }
  %section#search-box.wrap.search-box
    = render 'layouts/site/search'
  %section#our-partners.wrap.our-partners
    .container
      .section-title
        %h3 Expositores
      .our-partners-inner
        .row
        - Button.principal.order(:order).each do |button|
          .col-sm-7.col-md-2.item-col
            = link_to image_tag(button.image_path), properties_path(link_client: button.link),class: 'img-item'
  %section#recent-properties-slider.wrap.recent-properties.recent-properties-slider
    .container
      .recent-properties-inner
        .section-title
          %h3 Imóveis Destaques
        .recent-properties-content
          .caroufredsel-wrap
            - @properties = Property.where(featured: true).limit(8).order('created_at DESC')
            - if @properties.present?
              %ul
                %li
                  .property-row
                    - @properties[0..1].each do |featured|
                      %article.hentry.has-featured
                        .property-featured
                          %a.content-thumb{:href => "#{property_path(featured)}"}
                            %img.attachment-property-thumb.featured-thumb-home{:alt => "", :src => "#{featured.thumb? ? featured.thumb : '/images/property/property1.jpg'}"}/
                          %span.property-category
                            %a{:href => "#{property_path(featured)}"}
                              = featured.name
                          .property-detail
                            .size
                              %span
                                = featured.area
                                M²
                            .bedrooms
                              %span
                                = featured.rooms
                            .bathrooms
                              %span
                                = featured.suit
                        .property-wrap
                          %h2.property-title
                            %a{:href => "#{property_path(featured)}", :title => "#{featured.name}"}
                              = featured.group
                              = featured.number
                              = featured.block
                          .property-excerpt
                            %p
                              = featured.description
                        .property-summary
                          .property-info
                            .property-price
                              %span
                                %span.amount
                                  = number_to_currency featured.value
                            .property-action
                              %a{:href => "#{property_path(featured)}"} Mais Detalhes
                  .property-row
                    - @properties[2..3].each do |featured|
                      %article.hentry.has-featured
                        .property-featured
                          %a.content-thumb{:href => "#{property_path(featured)}"}
                            %img.attachment-property-thumb.featured-thumb-home{:alt => "", :src => "#{featured.thumb? ? featured.thumb : '/images/property/property1.jpg'}"}/
                          %span.property-category
                            %a{:href => "#{property_path(featured)}"}
                              = featured.name
                          .property-detail
                            .size
                              %span
                                = featured.area
                                M²
                            .bedrooms
                              %span
                                = featured.rooms
                            .bathrooms
                              %span
                                = featured.suit
                        .property-wrap
                          %h2.property-title
                            %a{:href => "#{property_path(featured)}", :title => "#{featured.name}"}
                              = featured.group
                              = featured.number
                              = featured.block
                          .property-excerpt
                            %p
                              = featured.description
                        .property-summary
                          .property-info
                            .property-price
                              %span
                                %span.amount
                                  = number_to_currency featured.value
                            .property-action
                              %a{:href => "#{property_path(featured)}"} Mais Detalhes
            %a.caroufredsel-prev{:href => "#"}
            %a.caroufredsel-next{:href => "#"}
  %section#our-sevices.wrap.our-sevices
    .container
      .parallax
        .bg.parallax-bg
        .overlay
        .our-sevices-content
          .row.clearfix
            .col-xs-12.col-sm-4.our-sevices-col
              %span.service-icon
                %i.fa.fa-home
              %hr.noo-gap/
              .text-block
                %h5 Os melhores Imóveis
                %p
                  Essa é a oportunidade que você precisa para comprar sua casa. São oferecidas diversas opções em imóveis do mercado, além de condições especiais de financiamento, uso do FGTS e 13º.
            .col-xs-12.col-sm-4.our-sevices-col
              %span.service-icon
                %i.fa.fa-thumbs-o-up
              %hr.noo-gap/
              .text-block
                %h5 Curta
                %p
                  Curta nossa fanpage e fique por dentro dos eventos e oportunidades que a Praça do mercado Imobiliário tem para você.
                %p
                  %a.icon-right{:href => "https://www.facebook.com/pracadf/", :target => '_blank'}
                    Curta você também.
                    %i.fa.fa-arrow-circle-o-right
            .col-xs-12.col-sm-4.our-sevices-col
              %span.service-icon
                %i.fa.fa-star
              %hr.noo-gap/
              .text-block
                %h5 Favorite
                %p
                  Compartilhe os imóveis dos seus sonhos com sua família e amigos.
  %section#testimonial.wrap.testimonial
    .container
      .testimonial-inner
        .section-title
          %h3 Confira
        .testimonial-content
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "https://www.youtube.com/embed/T0SJRoR7qKY", :width => "1140"}
