.row
  .col-md-12
    %section.panel
      %header.panel-heading
        Listagem de Empreendimentos
        = link_to "novo empreendimento", new_project_path, class: "btn btn-success pull-right btn-xs"
      .panel-body
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th Nome
              %th Cliente
              %th Ìcone
              %th Status
              %th Ações
          %tbody
            - @projects.each do |project|
              %tr
                %td= project.name.humanize
                %td.col-md-2= project.client.social_reason if project.client.present?
                %td.col-md-1= image_tag project.image_path, width: 35, heigth: 35, class: 'img-circle' if project.image_path?
                %td.col-md-1= project.status ? "<span class='label label-success'>ativo</span>".html_safe : "<span class='label label-danger'>inativo</span>".html_safe
                %td.col-md-2
                  =link_to "editar", edit_project_path(project), class: 'btn btn-info btn-xs'
                  =link_to "excluir", project_path(project), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: t(:confirm)}