%aside
  #sidebar.nav-collapse
    / sidebar menu start
    .leftside-navigation
      %ul#nav-accordion.sidebar-menu
        %li
          %a{:href => "#{root_path}"}
            %i.fa.fa-dashboard
            %span Vis찾o Geral
        %li.sub-menu
          %a{:href => "javascript:;", class: "#{(@nav == 'property') ? 'active' : ''}"}
            %i.fa.fa-book
            %span Im처veis
          %ul.sub{style: "#{(@nav == 'client') ? 'display: property' : ''}"}
            %li
              %a{:href => "#{customer.properties_path}"} Meus de Im처veis
            %li
              %a{:href => "#{customer.new_property_path}"} Novo Im처vel
            %li
              %a{:href => "#{customer.projects_path}"} Meus Empreendimentos
        %li.sub-menu
          %a{:href => "javascript:;", :class => "#{(@nav == 'client') ? 'active' : ''}"}
            %i.fa.fa-laptop
            %span Mensagens
          %ul.sub{style: "#{(@nav == 'client') ? 'display: block' : ''}"}
            %li
              %a{:href => "#{customer.messages_path}"} Minhas Mensagens
