.row
  .col-md-12
    %section.panel
      %header.panel-heading
        Listagem de Clientes
        = link_to "novo cliente", new_client_path, class: "btn btn-success pull-right btn-xs"
      .panel-body
        %table.table.table-condensed.table-striped.datatable
          %thead
            %tr
              %th Logo
              %th Código
              %th Nome Fantasia
              %th Cidade/UF
              %th E-mail Cadastro
              %th Responsável
              %th Ações
          %tbody
            - @clients.each do |client|
              %tr
                %td.col-md-1= (client.logo_path?) ? image_tag(client.logo_path, width: 80) : 'sem imagem'
                %td.col-md-1= client.code
                %td.col-md-3= client.fantasy_name
                %td.col-md-1= "#{client.city} / #{client.uf.upcase}"
                %td.col-md-2= client.email
                %td.col-md-2= client.responsible_name
                %td.col-md-2
                  =link_to "", edit_client_path(client), class: 'btn btn-info btn-sm fa fa-pencil'
                  =link_to "", client_path(client), method: :delete, class: 'btn btn-danger btn-sm fa fa-times', data: { confirm: t(:confirm)}
