%aside
  #sidebar.nav-collapse
    / sidebar menu start
    .leftside-navigation
      %ul#nav-accordion.sidebar-menu
        %li
          %a{:href => "#{admin.root_path}"}
            %i.fa.fa-dashboard
            %span Visão Geral
        %li.sub-menu
          %a{:href => "javascript:;", :class => "#{(@nav == 'client') ? 'active' : ''}"}
            %i.fa.fa-laptop
            %span Clientes
          %ul.sub{style: "#{(@nav == 'client') ? 'display: block' : ''}"}
            %li
              %a{:href => "#{admin.clients_path}"} Listagem de Clientes
            %li
              %a{:href => "#{admin.new_client_path}"} Novo Cliente
        %li.sub-menu
          %a{:href => "javascript:;", class: "#{(@nav == 'property') ? 'active' : ''}"}
            %i.fa.fa-book
            %span Imóveis
          %ul.sub{style: "#{(@nav == 'client') ? 'display: property' : ''}"}
            %li
              %a{:href => "#{admin.properties_path}"} Listagem de Imóveis
            %li
              %a{:href => "#{admin.new_property_path}"} Novo Imóvel
            %li
              %a{:href => "#{admin.attributes_path}"} Attributos de Imóvel
            %li
              %a{:href => "#{admin.projects_path}"} Empreendimentos
        %li.sub-menu
          %a{:href => "javascript:;", class: "#{(@nav == 'ads') ? 'active' : ''}"}
            %i.fa.fa-book
            %span Publicidade
          %ul.sub
            %li
              %a{:href => "general.html"} Anúncios
            %li
              %a{:href => "buttons.html"} Banners            
        %li.sub-menu
          %a{:href => "javascript:;"}
            %i.fa.fa-th
            %span Usuários
          %ul.sub
            %li
              %a{:href => "basic_table.html"} Listagem de Usuários
            %li
              %a{:href => "responsive_table.html"} Novo Usuário
            